a {
    all: unset;
}
body {
    background-color: rgba(0,0,0,0);
}
#image-div {
    
}
.image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    visibility:hidden;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    float: left;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;        
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
#schedule-img {
    background-image: url('/resources/img/schedule.jpg')
}
#text-img {
    background-image: url('/resources/img/text-to-color.png');
}
#balls-img {
    background-image: url('/resources/img/bouncy-balls.png');
}
#btext-img {
    background-image: url('/resources/img/bouncy-text.png');
}
#system-img {
    background-image: url('/resources/img/lsystem.png');
}
#trusty-img {
    background-image: url('/resources/img/trusty.png');
}
html {
    background-color: var(--mono1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;        
    transition: 0.25s ease-in-out;
}

#title-div {
    display: inline-block;
    width: 100%;
    border-bottom-style: solid;
    color: var(--mono10);
    border-bottom: 1px solid currentColor;
}
#title-div h1, h2 {
    font-weight: normal;
    font-family: OpenSans;
    padding: 0;
    margin: 0;
}
#title-div h1 {
    float: left;
}
#title-div h2 {
    float: right;
}
#link-list {
    float: right;
}

#link-list {
    position: relative;
    display: inline-block;
    margin-right: 4%;
}
#list-content {
    opacity: 0;
    position: absolute;
    background: #FFFFF0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    top: 50%;
    left: 0;
    z-index: -1;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;        
    transition: 0.25s ease-in-out;
}
#link-list ul {
    font-family: OpenSans;
    width: 100%;
    list-style: none;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}
#link-list li {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;        
    transition: 0.5s ease-in-out;
}
#link-list li:hover {
    background-color: var(--mono3);
}
#list-content a {
    text-decoration: underline;
}
#link-list:hover #list-content {
    opacity: 1;
    z-index: 1;
    display: block;
}


@media (min-width: 600px) {
    #title-div h1 {
        font-size: 5.5vh;
    }
    #title-div h2 {
        font-size: 4.5vh;
    }
    .link {
        width: 70%;
        margin: 1%;
        padding: 2%;
    }
    .link .title {
        font-size: 3.5vh;
    }
    .link .desc {
        font-size: 2.8vh;
    }
    .link:hover {
        background-color: var(--mono5);
        transform: translate(-1.5%, -3%);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);
    }
    #link-list ul {
        font-size: 2.5vh;
    }
}
@media (max-width: 600px) {
    #title-div h1 {
        font-size: 4.5vw;
    }
    #title-div h2 {
        font-size: 3.6vw;
    }
    #link-list ul {
        font-size: 3vw;
    }
    .link {
        width: 90%;
        margin: 1%;
        padding: 2% 1% 1% 2%;
    }
    .link:hover {
        background-color: rgba(153,153,144, 0.9);
        transform: translate(-3%, -3%);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);
    }
}

#link-div, #me-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#me-div a {
    text-decoration: underline;
}
.link {
    font-family: OpenSans;
    color: var(--mono10);
    background-color: var(--mono3);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.link .title {
    border-bottom: 1px solid currentColor;
    padding-bottom: 4;
}
.link .desc {
}

#link-div {
    padding-bottom: 4%;
}

#me-div h1 {
        margin: 0;
        padding: 0;
        font-size: 32;
        font-weight: bold;
    }
    #me-div h6 {
        margin: 0;
        padding: 0;
        font-size: 16;
        font-weight: normal;
    }
    #me-div h6 a {
        text-decoration: underline;
        font-weight: 600;
    }
    .about-title {
        font-size: 20;
        font-weight: bold;
    }
    .about-section-title {
        font-weight: 600;
        text-decoration: underline;
    }
    .about-tabbed {
        padding-left: 30;
    }
    .about-italicize {
        font-style: italic;
    }
    .about-bold {
        font-weight: 600;
    }

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--mono4);
}