tr {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #a3e8e5;
}
tr.disable {
    color: #AAA;
    background-color: #EEE;
}

#tree-table {
    border-collapse: collapse;
}

#tree-table td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.tree-select {
    width: 100%;
}