html {
    font-family: cursive;
}
#head {
    font-family: cursive;
    font-size: 200%;
    text-align: center;
}
#buttons {
    margin: 0 0 100 0;
    padding: 0 0 0 0;
    clear:both;
    font-family: cursive;
}
.btn {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 2 2 2 2;
    white-space: normal;
    width: 23%;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    font-family: cursive;
}
.title {
    display:block;
}
