html {
    /*overflow: hidden;*/
}
html, body, #lfm, #calendar  {
    padding: 0;
    margin: 0;
}
#holder {
    height: 15%;
    display: table;
    width: 100%;
}
#lfm {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-family: OpenSans;
    font-size: 24;
    text-align: center;
}
#cal {
    font-family: OpenSans;
    font-size: 15;
    height: 80%;
    width: 100%;
}
