html {
    /*overflow: hidden;*/
}
html, body, #lfm, #calendar  {
    padding: 0;
    margin: 0;
}
#holder {
    height: 12%;
    display: table;
    width: 100%;
}
#lfm {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-family: OpenSans;
    font-size: 24;
    color: black;
    text-align: center;
}
.calendar {
    position: absolute;
    top: 12%;
    left: 0;
    border: 0;
    width: 100%;
    height: 88%;
}
