html, body {
    margin: 0;
    padding: 0;
    background: var(--mono9);
    color: var(--mono1);
    font-family: OpenSans;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#container {
    text-align: center;
    width: 100%;
}
#spotify-info {
    text-align: center;
    font-style: OpenSans;
}
#spotify-info div,button {
    display: inline;
}
#song-info {
    font-size: 22pt;
}
.controls {
    background-color: var(--dark-important-color);
    border-color: var(--dark-important-color);
    border-style: none;
    color: var(--mono10);
    font-family: inherit;
    font-size: 20pt;
    padding: 0.01em 0.5em;
    transition: background-color 0.25s ease;
}
.controls:hover {
    background-color: var(--light-important-color);
}

#song-info {
    margin: 0 10px;
}
