@font-face {
    font-family: LeagueGothic;
    src:url('/fonts/league-gothic/LeagueGothic-CondensedItalic.otf') format('opentype');
    font-weight: 400;
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: LeagueGothic;
    src:url('/fonts/league-gothic/LeagueGothic-CondensedRegular.otf') format('opentype');
    font-weight: 400;
    font-stretch: condensed;
}
@font-face {
    font-family: LeagueGothic;
    src:url('/fonts/league-gothic/LeagueGothic-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: LeagueGothic;
    src:url('/fonts/league-gothic/LeagueGothic-Regular.otf') format('opentype');
    font-weight: 400;
}