body {
    background-color: var(--mono1);
    padding: 0;
    margin: 0;
}
#lsystem_canvas {
    background-color: var(--mono9);
    padding: 0;
    margin: 0;
}
#inputs {
    width: 26vh;
    position: absolute;
    background-color: var(--mono9);
    top: 0;
    left: 0;
    opacity: 0.07;
    color: var(--mono3);
    font-family: OpenSans;
    font-size: 1.8vh;
    padding: 0;
    margin: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    padding-bottom: 0.5vh;
}
#inputs:hover {
    opacity: 1!important;
}
.label {
    width: 90%;
    float: left;
}
.inp {
    width: 100%;
    font-size: 1.4vh;
}
.rule {
    margin: 0 0 0 10%;
    width: 85%;
}
#rules {
    overflow-y: scroll;
    max-height: 16vh;
}
#rules .inp {
    float: right;
    width: 90%!important;
}
.check {
    height: 0.8vh;
    float: right;
}
.button {
    margin-bottom: 4vh;
    font-size: 2vh;
}
.button, .examp_button, .dl_button {
    margin-top: 5;
    width: 100%;
    font-size: 1.4vh;
    font-weight: bold;
    font-family: OpenSans;
}
.check {
    float: right;
    height: 1.6vh;
}
#dl {
    color: var(--mono2);
    cursor: pointer;
    font-size: 1.6vh;
    text-decoration: underline;
}
a {
    all: unset;
}
#mess {
    font-size: 1vh;
}
#mess a {
    text-decoration: underline;
    color: var(--mono2);
}

::-webkit-scrollbar              {
    width: 2px;
}
::-webkit-scrollbar-button       {
    
}
::-webkit-scrollbar-track        {
    background-color: inherit;
}
::-webkit-scrollbar-track-piece  {
    
}
::-webkit-scrollbar-thumb        {
    background-color: var(--mono4);
}
::-webkit-scrollbar-corner       {
    
}
::-webkit-resizer                {
    
}