html, body {
    background: #333;
}
img {
    max-width: 90vw;
    max-height: 75vh;
}
#title {
    display: block;
    color: #EEE;
    font-family: OpenSans;
    font-size: 7vh;
    margin: 0;
    padding: 0;
    height: 10%;
    font-weight: bold;
    text-align: center;
    
}
@media all and (min-width: 600px) {
    #title {
        font-size: 7vh;
    }
}
@media all and (max-width: 599px) {
    #title {
        font-size: 7vw;
    }
}
#img-gal {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin: auto;
}
.img {
    margin: auto;
}
#prev, #main, #next {
    font-family: OpenSans, sans-serif;
    width: 32.83333%;
    height: 5%;
    float: left;
    color: #EEE;
}
#prev {
    padding-left: 0.5%;
    text-align: left;
}
#main {
    padding-left: 0.25%;
    padding-right: 0.25%;
    text-align: center;
}
#next {
    padding-right: 0.5%;
    text-align: right;
}