html, body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #111;
}

a {
    all: unset;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#title {
    margin-bottom: 5vh;
}
#title h1, #title h6, #title h2 {
    all: unset;
    display: block;
    padding: 0;
    margin: 0;
    font-family: OpenSans, sans-serif;
    text-align: center;
}
#title h1 {
    margin-bottom: 0%;
}
#title h2 {
    display: table;
    margin: auto;
    padding: 10;
    background-color: rgba(255, 255, 255, 0.7);
}
#title h6 {
    color: #333;
    font-weight: normal;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media all and (min-width: 600px) {
    #title h1 {
        font-size: 50;
    }
    #title h2 {
        font-size: 40;
    }
    #title h6 {
        font-size: 20;
    }
}
@media all and (max-width: 599px) {
    #title h1 {
        font-size: 7vw;
    }
    #title h2 {
        font-size: 6vw;
    }
    #title h6 {
        font-size: 3vw;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#nav {
    text-align: center;
    font-family: OpenSans, sans-serif;
    margin-bottom: 10%;
}
#nav .link {
    text-decoration: underline;
    display: inline-block;
    width: 50%;
    float: left;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#calendar, #pics {
    padding: 10;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 15;
    font-family: OpenSans, sans-seriff;
    background-color: rgba(0,0,0,0.7);
    color: #EEE;
}
#calendar h3, #calendar h6 {
    all: unset;
    display: block;
}
#calendar h3 {
    font-size: 24;
    font-weight: bold;
    margin-bottom: 10;
}
#calendar h6 {
    font-size: 20;
}
#calendar a, #pics a {
    text-decoration: underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#footer {
    background-color: rgba(255,255,255,1);
    color: #222;
    font-family: OpenSans, sans-serif;
}
#footer #prev, #footer #main, #footer #next {
    width: 32.833%;
    float: left;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 0.25s;
}
#footer #next:hover, #footer #prev:hover, #footer #main:hover {
    background-color: #BBB;
}
#footer #prev {
    padding-left: 0.5%;
    text-align: left;
}
#footer #main {
    padding-right: 0.25%;
    padding-left: 0.25%;
    text-align: center;
}
#footer #next {
    padding-right: 0.5%;
    text-align: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content {
    width: 80%;
    margin: auto;
    background-color: rgba(0,0,0,0.75);
    color: #EEE;
    text-align: left;
    padding: 10;
    font-family: OpenSans, sans-serif;
    margin-bottom: 7.5vh;
}
#content h4, #content h3 {
    margin: 0;
}
#content a {
    text-decoration: underline;
}