html {
    font-family: cursive;
}
#head {
    font-family: "Comic Sans", cursive;
    text-align: center;
}
#buttons {
    margin: 0 0 100 0;
    padding: 0 0 0 0;
    clear:both;
    font-family: cursive;
}
.btn {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 2 2 2 2;
    white-space: normal;
    width: 23%;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    font-family: "Papyrus", cursive;
    font-size: 16;
    line-height: 1em;
    font-weight: bold;
}
.title {
    display:block;
}
.trail { /* className for the trail elements */
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    border-bottom: 1px solid transparent;
    -webkit-transition: background-color ease-in-out 1s;
    transition: background-color ease-in-out 0.25s;
}
#head_image {
    width: 40vw;
    height: 15vw;
}
