/*
 ________________________________________________________________________________________________
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|                                                                                                 |
|_________________________________________________________________________________________________|

*/
body, html {
  background-color: var(--mono9);
  color: var(--mono1);
  font-family: OpenSans, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#title {
  width: 100%;
  padding: 1vh 1vw;
  text-align: center;
}

#content-title {
  font-size: 2.2rem;
  color: var(--med-important-color);
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#information {
  display: flex;
  width: 100%;
}

#inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.info-header {
  font-size: 1.8rem;
  color: var(--med-important-color)
}

.info-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25rem;
}

@media screen and (orientation: landscape), (min-width: 960px) {
  #content {
    padding: 2vh 1vw;
  }

  #information {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 3vh; 
  }

  #inputs {
    align-items: flex-start;
    height: 100%;
  }

  .info-section {
    max-width: 90%;
  }

  #terms {
    flex-grow: 1;
  }
  
  #kmap-div {
    display: flex;
  }
}

@media screen and (orientation: portrait), (max-width: 960px) {
  #content {
    padding: 1vh 2vw;
  }

  #information {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap
  }

  #inputs {
    align-items: center;
    padding-bottom: 5vh;
  }

  .info-section {
    max-width: 80%;
  }

  #kmap-div {
    display: none;
  }
}

.entry {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 0.5em;
}

.input-field {
  background-color: var(--mono2);
  border-style: none;
  color: var(--mono9);
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 0 0.25em;
}

#solutions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.solution {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.solution-field {
  background-color: var(--mono2);
  border-style: none;
  color: var(--mono9);
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  resize: none;
  font-size: 1rem;
}

#kmap-div {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

#kmap-title {
  color: var(--med-important-color);
  font-size: 1.8rem;
}

#kmap-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 3vh;
}

#kmap {
  flex-grow: 1;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  border-collapse: collapse;
}

.var-label {
  color: var(--light-important-color);
}

.col-label, .row-label {
  color: var(--light-important-color);
}

.row-label {
  border-right: 1px solid;
  color: var(--light-important-color);
}

.row-label:first-of-type {
  border-top: 1px solid;
  color: var(--light-important-color);
}

.col-label {
  border-bottom: 1px solid;
  color: var(--light-important-color);
}

.kmap-cell-label {
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  text-align: center;
}

.kmap-cell {
  text-align: center;
  color: var(--mono4);
}

.row-label, .col-label, .var-label {
  font-style: italic;
}

.kmap-row:nth-child(even) .kmap-cell:nth-child(odd),
.kmap-row:nth-child(odd)  .kmap-cell:nth-child(even) {
  background-color: var(--mono8);
}

.kmap-row:nth-child(even) .kmap-cell:nth-child(odd):hover,
.kmap-row:nth-child(odd)  .kmap-cell:nth-child(even):hover{
  background-color: var(--light-important-color);
  color: var(--mono8);
}

.kmap-row:nth-child(even) .kmap-cell:nth-child(even):hover,
.kmap-row:nth-child(odd)  .kmap-cell:nth-child(odd):hover{
  background-color: var(--dark-important-color);
}