
html, body {
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    background: white;
    color: black;
    height:97%;
}
#RGB-text {
    -webkit-transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    -o-transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    font-family: OpenSans;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
#hexcolor, #hextext {
    text-transform: uppercase;
    -webkit-transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    -o-transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    transition: background 0.2s ease-in-out, font-size 0.05s ease-in-out;
    font-family: OpenSans;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin:0;
    padding: 0;
    width: 100%;
}
#container {
    display: table;
    height: 98.5vh;
    width: 100%;
}
#container2 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
