@font-face {
  font-family: OpenSansExtraBold;
  src:url(/resources/fonts/open-sans/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: OpenSans;
  src:url(/resources/fonts/open-sans/OpenSans-Regular.ttf);
}
.exp {
    font-family: OpenSans;
    font-size: 24;
}
.exp:before {
    content: '';
    display: inline-block;
    height: 107%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.exp words {
    width: 100%;
    display: inline-block;
    vertical-align:middle;
    text-transform: uppercase;
    text-align: center;
}