html,body {
    padding: 0;
    margin: 0;
    background-color: #2b4188;
    font-family: OpenSans, sans-serif;
}

#page-title {
    background-color: #fff;
    
    margin: 1vw;
    padding: 1.5vw 0.5vw;
    border-radius: 0.25vw;
}

#player-info {
    margin: 1vw 1vw 0 1vw;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    background-color: #fff;
    border-radius: 0.25vw 0.25vw 0 0;
}

.input-div {
    font-weight: bold;
}

.info-entry {
    margin-right: 0.5vw;
}

#tree-table {
    margin: 0 1vw 0 1vw;
    width: 98vw;
}

.tree-row {
    text-align: center;
}
.tree-row:nth-child(odd), .tree-header {
    background-color: #fff;
}
.tree-row:nth-child(even) {
    background-color: #2b4188;
    color: #fff;
}
.tree-row.disable {
    color: #666;
    background-color: #eee;
}
.tree-row:nth-child(even).disable {
    color: #666;
    background-color: #ccc;
}

#tree-table {
    border-collapse: collapse;
}

#tree-table td, th {
    text-align: center;
    padding: 8px;
}

select.tree-select {
    width: 100%;
}

.tree-attr {
    width: 100%;
}

#stats {
    background-color: #fff;
    margin: 0 1vw;
    padding: 0.5vw;
    border-radius: 0 0 0.25vw 0.25vw;
}

.stat-div {
    font-weight: bold;
    margin-right: 1vw;
}