@font-face {
    font-family: BebasNeue;
    src:url(/fonts/BebasNeue.otf);
}
@font-face {
    font-family: HelveticaNeue;
    src:url(/fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: Abel;
    src:url(/fonts/Abel-Regular.ttf);
}
.clear {clear:both;}
.centeredImage {
    height: 220;
    width: auto;
    max-width: 96%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rightFloater {
    float: right;
    width: 50%;
    min-width: 200;
}
.mathImg {
    width: 100%; 
}
html {
    margin: 0 0 0 0;
    padding: 0% 3% 0% 3%;  
    background-color: #B3A394;
}
body {
    margin: 0 0 0 0;
    padding: 5% 0% 0% 0%;
    width: 100%;
    background-color: #F4F4F9;
}
#header {
    margin: 0 0 0 0;
    width:100%;
    text-align: center;
}
    #header header {
        font-size: 48;
        font-family: BebasNeue;
        color: #6A6262;
    }
#intro {
    width:96%;
    padding: 2% 2% 2% 2%;
    min-height: 230;
    margin-top: 2%;
}
    #intro img {
        margin-top: 1%;
        margin-right: 1.4%;
        margin-bottom: 1%;
    }
    #intro text1 {
        font-size: 24;
        font-family: Abel;
        color: #191919;
    }
#math {
    width:96%;
    background: #EEEEFF;
    padding: 2% 2% 2% 2%;
}
    #math header {
        font-family: BebasNeue;
        font-size: 48;
        color: #6B6054;
    }
    #math expl {
        font-family: Abel;
        font-size: 24;
        color: #191716;
    }
    #math #click {
    }   
#supWarn {
    background-color: #796465;
}
#supplies {
    width: 46%;
    float: right;
    padding: 2% 2% 2% 2%;
}
    #supplies header {
        margin: 0 0 0 0;
        font-size: 48;
        font-family: BebasNeue;
        color: #F4F4F9;
        margin-bottom: 0;
    }
    #supplies #list {
        margin-top: 0;
        font-family: Abel;
        font-size: 24;
        color: #DAD2BC;
    }
#warnings {
    float: left;
    background: #D64933;
    width: 46%;
    padding: 2% 2% 2% 2%
}
    #warnings header {
        margin: 0 0 0 0;
        font-size: 48;
        font-family: BebasNeue;
        color: #262322;
        margin-bottom: 0;
    }
    #warnings #list {
        margin: 0 0 0 0;
        font-family: Abel;
        font-size: 24;
        color: #F4E3B2;
    }
    #warnings t {
        font-size: 24;
        font-family: Abel;
        color: #F4E3B2;
        
    }
#step1 {
    width:96%;
    background: #CC8B86;
    padding: 2% 2% 2% 2%;
    border-color: #BD6962;
}
    #step1 header {
        font-family: BebasNeue;
        font-size: 48;
        color: #342A21;
        text-align: center;
    }
    #step1 expl {
        font-family: Abel;
        font-size: 24;
        color: #4C2E05;
    }
#step2 {
    width:96%;
    background: #D3FFE9;
    padding: 2% 2% 2% 2%;
    border-color: #A0FFD0;
}
    #step2 header {
        font-family: BebasNeue;
        font-size: 48;
        color: #444545;
        text-align: center;
    }
    #step2 expl {
        font-family: Abel;
        font-size: 24;
        color: #3D0814;
    }
#step3 {
    width:96%;
    background: #6C464F;
    padding: 2% 2% 2% 2%;
    border-color: #F0A110;
}
    #step3 header {
        font-family: BebasNeue;
        font-size: 48;
        color: #E3C16F;
        text-align: center;
    }
    #step3 expl {
        font-family: Abel;
        font-size: 24;
        color: #E2E8DD;
    }
.step {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10 20 10 20;
    margin-bottom: 10%;
    border-style: solid;
    border-color: inherit;
}
.numbered {
    list-style: decimal;   
}
.sublist {
    font-size: 20;   
}